<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title text-center text-white">EAT DA BURGER</h1>
      <div class="top-group text-center">
        <h3 class="title top-text text-center">Enter a new burger to the menu:</h3>

        <form class="create-form">

          <div class="form-group">

            <input type="text" id="burger" name="name">
            <button type="submit" class="btn btn-warning btn-sm text-brown">Add Burger</button>
          </div>
        </form>
      </div>

    </div>

  </div>
  <div class="bg"></div>
  <div class="row mt-3">
    <div class="col-2"></div>
    <div class="col-md-4 menu">
      {{!-- Burger list --}}
      <h4>Burger Menu</h4>
      <div>
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          <li><i class="fas fa-hamburger"></i>
            {{this.burger_name}}
            <button type="button" class="change-devoured btn btn-outline-success btn-sm float-right" data-id="{{id}}"
              data-devoured="{{devoured}}"> Devour Me!</button>
          </li>

          {{!-- {{> burgers/burger-block devoured=false}} --}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>

    </div>
    <div class="col-1"></div>

    <div class="col-md-4">

      {{!-- Devoured List --}}
      <h4>Devoured Burger</h4>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li><i class="fas fa-utensils"></i>
          {{this.burger_name}}
          <button type="button" class="delete-burger btn btn-outline-danger btn-sm float-right" data-id="{{id}}">
            Digest!</button>
        </li>
        {{!-- {{> burgers/burger-block devoured=true}} --}}
        {{/if}}
        {{/each}}
      </ul>

    </div>

  </div>
</div>

</div>