<h1>Eat Da Burger</h1>

{{!-- Burger list --}}
<h2>Burger Menu</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <li>
      {{this.id}}.{{this.burger_name}}
      <button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}"> Devour Me</button>
    </li>
      
      {{!-- {{> burgers/burger-block devoured=false}} --}}
    {{/unless}}
  {{/each}}
</ul>


{{!-- Devoured List --}}
<h2>Devoured Burger</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
    <li>
      {{this.id}}.{{this.burger_name}}
      <button class="delete-burger" data-id="{{id}}"> Delete</button>
    </li>
      {{!-- {{> burgers/burger-block devoured=true}} --}}
    {{/if}}
  {{/each}}
</ul>

<h2>Enter a new burger to the menu:</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
